<div class="dashboard">
  <div class="chat-container"></div>
  <div class="swipe-container">
    <div class="card-container">
      <div
      class="swipe"
      [@cardAnimator]="animationState"
      (@cardAnimator.done)="resetAnimationState($event)"
      (swipeleft)="startAnimation('swipeleft')"
      (swiperight)="startAnimation('swiperight')"
    >
      <div class="card"  style="background-image: url({{users[index].url}});"></div>
        <h3> {{ users[index].name }}</h3> 
      </div>
    
    </div>

    <div class="card-control">
      <div  class="tno"><mat-icon>replay</mat-icon></div>
      <div (click)='cardAnimation("swipeleft")'  class="tno">X</div>
      <div (click)='cardAnimation("swiperight")' class="tyes"><mat-icon>favorite_border</mat-icon></div>
      <div (click)='sendMsg()' class="tyes"><mat-icon> message</mat-icon></div>
    </div>
  </div>
 
</div>