.header {
    .logo-container {
      width: 10rem;
      margin: 1rem;
  
      .logo {
        width: 100%;
      }
    }
  }
.preference {
  .content {
    border-top: solid 2px rgb(154,154,154) ;
  }
  form {
    display: flex;
    justify-content: center;
    margin: 0 10rem;
    section {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      width: 70%;
      text-align: start;
      
      .location {
       
        input {
          width: 100%;
        }
        margin-bottom: 2rem;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        button {
          color: gray;
          border: none;
          margin-top: 2rem;
          font-size: 1rem;
          background-color: transparent;
        }
      }

      .distanceInfo , .ageInfo{
        display: flex;
        justify-content: space-between;
      }

      
      
      input[type="radio"] {
        display: none;
      }
    
      input[type="radio"]:checked + label {
        border: solid 2px rgb(221, 39, 22);
      }
  
      label {
        margin: 10px 0;
        font-weight: 300;
        font-size: 1.2rem;
      }
  
      input {
        width: 100%;
        //padding: 1rem 15rem;
        //margin: 10px 0;
        font-size: 1rem;
        border: solid 2px rgb(219, 219, 219);
        border-radius: 10px;
      }
  
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      .multiple-input {
        display: flex;
  
        input {
          margin-right: 10px;
        }
  
        label {
          padding: 10px;
          border: solid 2px rgb(144, 144, 144);
          border-radius: 10px;
          transition: all 0.3s;
          margin-right: 10px;
        }
      }
    }
  }
}
 
  