<div class="chat-container">
  <app-chat-header [currentUser]="currentUser"></app-chat-header>
  <div>
    <button class="option" (click)="showMatchSection()">Matches</button>
    <button class="option" (click)="showChatSection()">Chat</button>
  </div>

  <app-matches
    [matches]="matches"
    [showMatches]="showMatches"
    [currentUser]="currentUser"
    *ngIf="showMatches"
  ></app-matches>
  <app-chat-display
    [currentUser]="currentUser"
    *ngIf="!showMatches"
  ></app-chat-display>
  <app-chat-input [currentUser]="currentUser"></app-chat-input>
</div>
