<div class="offer">
  <div class="header">
    <div class="logo-container">
      <img
        class="logo"
        src="../../../assets/color-logo-tinder.png"
        alt="logo image"
        loading="lazy"
      />
    </div>
    <div class="offerForm">
      <h1>Make an offer</h1>
      <form>
        <div class="dateIdea">
          <label for="date">What do you want to do? </label>
          <div class="date-multiple-input">
            <div class="dinner">
              <input
                type="radio"
                id="dinner_date"
                name="date"
                required
                value="dinner"
                (click)="handleChange($event)"
              />

              <label for="dinner_date">
                <mat-icon> fastfood</mat-icon> Dinner</label
              >
            </div>

            <div class="coffee">
              <input
                type="radio"
                id="coffee_date"
                name="date"
                required
                value="coffee"
                (click)="handleChange($event)"
              />
              <label for="coffee_date">
                <mat-icon> local_cafe</mat-icon> Coffee</label
              >
            </div>
          </div>
        </div>
        <div class="time">
          <label for="preferredTime" class="preferredTime"
            >Preferred time</label
          >
          <div class="time-multiple-input">
            <input
              type="radio"
              id="morning_date_time"
              name="dateTime"
              required
              value="Morning"
              (click)="handleChange($event)"
            />
            <label for="morning_date_time">Morning</label>

            <input
              type="radio"
              id="evening_date_time"
              name="dateTime"
              required
              value="Evening"
              (click)="handleChange($event)"
            />
            <label for="evening_date_time">Evening</label>

            <input
              type="radio"
              id="night_date_time"
              name="dateTime"
              required
              value="Night"
              (click)="handleChange($event)"
            />
            <label for="night_date_time">Night</label>
          </div>
        </div>
        <div class="payment">
          <label for="payment" class="payment">who's offering?</label>
          <div class="payment">
            <div class="onMe">
              <input
                type="radio"
                id="onMe"
                name="payment"
                required
                value="onMe"
                (click)="handleChange($event)"
              />

              <label for="onMe">
                On Me</label
              >
            </div>

            <div class="onYou">
              <input
                type="radio"
                id="onyou"
                name="payment"
                required
                value="onyou"
                (click)="handleChange($event)"
              />
              <label for="onyou">
                On You</label
              >
            </div>
            <div class="split">
              <input
                type="radio"
                id="split"
                name="payment"
                required
                value="split"
                (click)="handleChange($event)"
              />
              <label for="split">
                Split</label
              >
            </div>
          </div>
        </div>
      </form>
      <div class="actions">
        <input type="submit" value="submit" (click)="handleSubmit($event)" />
        <input type="button" value="skip" (click)="skipOffer()" />
      </div>
    </div>
  </div>
</div>
