.offer {
  .header {
    .logo-container {
      width: 10rem;
      margin: 1rem;

      .logo {
        width: 100%;
      }
    }
  }

  .offerForm {
    border-top: solid 2px rgb(154, 154, 154);

    form {
      margin: 2rem 0;

      .dateIdea {
        label {
          color: gray;
          font-size: 1.5rem;
        }
        .date-multiple-input {
          input[type="radio"] {
           
            border-radius: 50%;
            border: 2px solid #333;
            width: 16px;
            height: 16px;

            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            -o-appearance: none;
            appearance: none;
          }
          label {
            color: red;
          }
        }
      }
    }
  }
}
