<div class="offer">
  <div class="header">
    <div class="logo-container">
      <img
        class="logo"
        src="../../../assets/color-logo-tinder.png"
        alt="logo image"
        loading="lazy"
      />
    </div>
    <div class="offerForm">
      <h1>Make an offer</h1>
      <form>
        <div class="dateIdea">
          <label for="date">What do you want to do? </label>
          <div class="date-multiple-input">
            <div class="dinner">
              <input
                type="radio"
                id="dinner_date"
                name="date"
                required
                value="dinner"
                (click)="handleChange($event)"
              />
              <mat-icon> fastfood</mat-icon>
              <label for="dinner_date">Dinner</label>
            </div>

            <div class="coffee">
              <input
                type="radio"
                id="coffee_date"
                name="date"
                required
                value="coffee"
                (click)="handleChange($event)"
              />
              <mat-icon> local_cafe</mat-icon>
              <label for="coffee_date">Coffee</label>
            </div>
          </div>
        </div>
        <div class="time">
          <label for="preferredTime" class="preferredTime">Preferred time</label>
          <div class="time-multiple-input">
            <input
              type="radio"
              id="morning_date_time"
              name="dateTime"
              required
              value="morning"
              (click)="handleChange($event)"
            />
            <label for="morning_date_time">Morning</label>

            <input
              type="radio"
              id="evening_date_time"
              name="dateTime"
              required
              value="evening"
              (click)="handleChange($event)"
            />
            <label for="evening_date_time">Evening</label>

            <input
              type="radio"
              id="night_date_time"
              name="dateTime"
              required
              value="Night"
              (click)="handleChange($event)"
            />
            <label for="night_date_time">Night</label>
          </div>
        </div>
      </form>
      <button class="skipBtn" (click)="skipOffer()">Skip</button>
      <button class="saveBtn" (click)="saveOffer()">Save</button>
    </div>
  </div>
</div>
