.offer {
  .header {
    .logo-container {
      width: 10rem;
      margin: 1rem;

      .logo {
        width: 100%;
      }
    }
  }

  .offerForm {
    border-top: solid 2px rgb(154, 154, 154);
    label {
      cursor: pointer;
    }
    form {
      margin: 3rem 0;

      input[type="radio"]:checked + label {
        border: solid 2px rgb(235, 115, 115);
      }
      .dateIdea {
        label {
          color: gray;
          font-size: 1.2rem;
          margin-bottom: 0.5rem;
        }
        .date-multiple-input {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 0 35%;
          input {
            display: none;
          }
          .coffee,
          .dinner {
            input[type="radio"]:checked + label {
              border: solid 2px rgb(235, 115, 115);
            }
            align-items: center;

            border-radius: 10px;
            transition: all 0.3s;
            padding: 1rem 0;
            margin: 1rem 0;
            width: 9rem;
          }
          label {
            border: solid 2px rgb(144, 144, 144);
            align-items: center;

            border-radius: 10px;
            transition: all 0.3s;
            padding: 1.2rem;
            width: 10rem;
          }
        }
      }

      .time {
        .preferredTime {
          border: none;
        }
        label {
          color: gray;
          font-size: 1.2rem;
          border: solid 2px rgb(144, 144, 144);
          border-radius: 10px;
          transition: all 0.3s;
          padding: 1rem 0;
          margin: 1rem 0;
          width: 9rem;
        }
        .time-multiple-input {
          padding: 0;
          display: flex;
          align-items: start;
          justify-content: start;
          margin: 0 34%;
          input {
            visibility: hidden;
            margin: 10px 0;
          }
        }
      }

      .payment {
        label {
          color: gray;
          font-size: 1.2rem;
          padding: 1rem 0;
          margin: 1rem 0;
          width: 9rem;
        }
        .payment-multiple-input {
          padding: 0;
          display: flex;
          align-items: start;
          justify-content: start;
          margin: 0 34%;

          input {
            visibility: hidden;
            margin: 10px 0;

          }
          label {
            border: solid 2px rgb(144, 144, 144);
            border-radius: 10px;
            transition: all 0.3s;
            padding: 1rem 0;
            margin: 1rem 0;
            width: 9rem;
          }
        }
      }
    }
    .actions {
      display: flex;
      flex-direction: column;
      justify-content: center;

      margin: 0 30%;
      input[type="submit"]:hover {
        background-color: rgb(235, 235, 235);
        cursor: pointer;
      }
      input[type="submit"]:active {
        background-color: rgb(235, 115, 115);
      }

      input[type="button"]:hover {
        background-color: rgb(235, 235, 235);
        cursor: pointer;
      }
      input[type="button"]:active {
        background-color: rgb(235, 115, 115);
      }

      input {
        padding: 1rem 2rem;
        margin: 10px 0;
        font-size: 1rem;
        border: solid 2px rgb(219, 219, 219);
        border-radius: 10px;
        margin-left: 1rem;
      }
    }
  }
}
