.offer {
  .header {
    .logo-container {
      width: 10rem;
      margin: 1rem;

      .logo {
        width: 100%;
      }
    }
  }

  .offerForm {
    border-top: solid 2px rgb(154, 154, 154);

    form {
      margin: 2rem 0;

      .dateIdea {
        label {
          color: gray;
          font-size: 1.5rem;
        }
        .date-multiple-input {
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          gap: 6rem;

          .coffee,
          .dinner {
            border: solid 2px rgb(144, 144, 144);
            border-radius: 10px;
            transition: all 0.3s;
            padding: 1rem 0;
            margin: 1rem 0;
            width: 9rem;
          }

          input {
            visibility: hidden;
            margin: 10px 0;
          }
        }
      }

      .time {
        .preferredTime {
          border: none;
        }
        label {
          color: gray;
          font-size: 1.5rem;
          border: solid 2px rgb(144, 144, 144);
          border-radius: 10px;
          transition: all 0.3s;
          padding: 1rem 0;
          margin: 1rem 0;
          width: 9rem;
        }
        .time-multiple-input {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 3rem;
          input {
            visibility: hidden;
            margin: 10px 0;
          }
        }
      }
    }
  }
}
