<div class="authModal">
  <div class="header">
    <mat-icon mat-dialog-close>highlight_off</mat-icon>
  </div>
  <div class="content mat-dialog-content">
    <div class="logo"></div>
    <div class="text-content">
      {{ data.title }}

      <p>
        By clicking Log in, you agree to our Terms. Learn how we process your
        data in our privacy Policy. and cookie Policy.
      </p>
      <form (ngSubmit)="onSubmit">
        <input type="email" id="email" name="email" placeholder="email" required onchange="setEmail" >
      </form>
      <div class="logInBtns mat-dialog-actions">
        <button class="google">Continuer avec google</button>
        <button class="facebook">Log in with facebook</button>
        <button class="phone">Log in with phone number</button>
      </div>
      <h4>Trouble logging in?</h4>
    </div>
    <div class="footer">
      <h1>GET THE APP!</h1>
      <div class="download mat-dialog-actions">
        <button class="appStore">Download on the App store</button>
        <button class="playStore">Get in on Google Play</button>
      </div>
    </div>
  </div>
</div>
