<app-page-loader></app-page-loader>
<div class="authModal">
  <div class="header">
    <mat-icon mat-dialog-close>highlight_off</mat-icon>
  </div>
  <div class="content mat-dialog-content">
    <div class="logo">
      <img src="../../../assets/tinder.png" alt="" />
    </div>
    <div class="text-content">
      <h2 class="title">{{ data.title }}</h2>

      <p>
        By clicking Log in, you agree to our Terms. Learn how we process your
        data in our privacy Policy. and cookie Policy.
      </p>
      <form>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="email"
          required
          (change)="setEmail($any($event))"
        />

        <input
          type="password"
          id="password-current"
          name="password-current"
          placeholder="password"
          autocomplete="on"
          required
          (change)="setPwd($any($event))"
        />
        <button (click)="showPwd()" class="showPwdBtn">
          <img src="../../../assets/icons8-visible-24.png">
        </button>
        <input
          id="password-check"
          name="password-check"
          placeholder="confirm password"
          required
          [hidden]="isSignIn"
          (change)="setConfirmPwd($any($event))"
        />

        <input
          type="submit"
          class="secondary-button"
          autocomplete="on"
          value="submit"
          (click)="submitForm($event)"
        />
        <p class="errorMsg">{{ error }}</p>
      </form>
    </div>
  </div>
</div>
