/* You can add global styles to this file, and also import other style files */
:root {
  //color palette
  --peach: #e9b3a3;
  --baby-pink: #cd979e;
  --violet: #a78197;
  --mauve: #7c6e8a;
  --blue: #525b74;
  --dark-blue: #2f4858;
}
