<div class="dashboard">
  <app-chat-container [matches]="matches" [currentUser]="currentUser"></app-chat-container>
  <div class="swipe-container" *ngIf="filteredUsers.length>0">
    <h3 *ngIf="direction && !undo">You swiped {{ direction }}</h3>
    <div class="card-container" >
      <div
        class="swipe"
        [@cardAnimator]="animationState"
        (@cardAnimator.done)="resetAnimationState($event)"
        (swipeleft)="startAnimation('swipeleft')"
        (swiperight)="startAnimation('swiperight')"
        (swipe)="getSelectedUser(filteredUsers[index])"
      >
        <div
          class="card"
          style="background-image: url({{filteredUsers[index].url}} ); "
        >
          <h3 class="name">{{ filteredUsers[index].first_name }} , {{filteredUsers[index].age}} 	<mat-icon>check_circle_outline</mat-icon></h3>
          <div class="offerDetails">
            <h2>{{filteredUsers[index].offer.date}}</h2>
            <h2>{{filteredUsers[index].offer.time}}</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="card-control">
      <div class="replay" (click)="reload()"><mat-icon>replay</mat-icon></div>
      <div (click)="cardAnimation('swipeleft')" class="reject">X</div>
      <div (click)="cardAnimation('swiperight')"  (click)="getSelectedUser(filteredUsers[index])" class="accept">
        <mat-icon>favorite_border</mat-icon>
      </div>
    </div>
  </div>
</div>
