.dashboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .swipe-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .card-container {
      border: solid 2px black;
      border-radius: 1rem;
      width: 400px;
      height: 600px;
      .swipe {
        position: absolute;
      }
      .card {
        .userImg {
          width: 400px;
          height: 600px;
          background-size: cover;
          background-position: center;
          border-radius: 1rem;
        }

        .location {
          background-color: blue;
          border-radius: 5px;
          position: absolute;
          bottom: 10rem;
          left:10rem;
          z-index: 2;
          color: white;
        }
        .details {
          border-radius: 1rem;
          background-color: white;
          position: absolute;
          z-index: 1;
          width: 400px;
          height: 150px;
          bottom: 0;
          .userDetails {
            align-items: center;
            color: black;
            font-weight: 700;
            font-size: 2rem;
            left: 1rem;
            margin-bottom: 1rem;
          }
          .offerDetails {
            align-self: center;
            width: 50%;
            font-size: 1.5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            left:25%;
            color: darkgray;
            .date {
              background-color: lightgray;
              border-radius: 15px;
              padding: 0.5rem;

            }
            .time {
              background-color: lightgray;
              border-radius: 15px;
              padding: 0.5rem;
            }
          }
        }
      }
    }
    .card-control {
      display: flex;
      justify-content: space-between;
      gap: 6.5rem;
      margin-top: 1rem;

      div {
        cursor: pointer;
      }
    }
  }
}
