<div class="dashboard">
  <app-chat-container [matches]="matches" [currentUser]="currentUser"></app-chat-container>
  <div class="swipe-container" *ngIf="users.length>0">
    <h3 *ngIf="direction && !undo">You swiped {{ direction }}</h3>
    <div class="card-container" >
      <div
        class="swipe"
        [@cardAnimator]="animationState"
        (@cardAnimator.done)="resetAnimationState($event)"
        (swipeleft)="startAnimation('swipeleft')"
        (swiperight)="startAnimation('swiperight')"
        (swipe)="getSelectedUser(unmatchedUsers[index])"
      >
        <div
          class="card"
          style="background-image: url({{users[index].url}} ); "
        >
          <h3 class="name">{{ users[index].first_name }} , {{users[index].about}}</h3>
        </div>
      </div>
    </div>

    <div class="card-control">
      <div class="replay" (click)="reload()"><mat-icon>replay</mat-icon></div>
      <div (click)="cardAnimation('swipeleft')" class="reject">X</div>
      <div (click)="cardAnimation('swiperight')"  (click)="getSelectedUser(users[index])" class="accept">
        <mat-icon>favorite_border</mat-icon>
      </div>
    </div>
  </div>
</div>
